*{
    margin: 0;
    padding: 0;
    border: 0;
}
@font-face{
    font-family: 'sans';
    src: url("sans.ttf");
}
body{
    font-family: 'sans';
    direction: rtl;
    background-color: #3c6382;
}
::placeholder , input{
    font-family: 'sans';
}
.login{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.login h1{
    color:#ffffff;
    margin: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid gray;
    font-size: 25px;
    transition: 1s;
}
.login h1:hover{
    border-color: #ffffff;
    font-size: 30px;
}
.login input[type="text"], input[type="password"]{
    margin:20px;
    padding:10px 14px;
    width:250px;
    border-radius: 24px;
    border:1px solid #78e08f;
    transition: 0.5s;
}
.login input[type="submit"]{
    margin:20px;
    padding:10px 14px;
    width:100px;
    background-color: #ffffff;
    cursor:pointer;
    border-radius: 24px;
    border:1px solid #78e08f;
    transition: 0.7s;
}
.login input[type="submit"]:hover{
    background-color: #38ada9;
    color: #ffffff;
}
.label{
    color: #ffffff;
}
.login input[type="text"]:focus, input[type="password"]:focus{
    width: 290px;
}